/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-create-block-lottie-block{
    // width: fit-content;
    width: 100%;
    max-width: 100%;
    .lottie-wrapper{
        // width: fit-content;
        max-width: 100%;
        width: 100%;
    }
}