/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


 .modal-editor{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    background-color: #363636;
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
	width: 100%;

    p{
        margin: 0;
        text-align: center;
        color: darkkhaki;
    }
}

.wp-block-create-block-modal-block{
    display: flex;
    justify-content: center;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    .modal-container{
        overflow: hidden;
        .modal-content{
            height:  100% !important;
    
            .block-editor-inner-blocks{
                height: 100% !important;
                &>.block-editor-block-list__layout{
                    height: 100% !important;
    
                    &>.wp-block-group{
                        height:  100% !important;
                        // .wp-block-columns{
                        //     height:  100%;
                        //     width: 100% !important;
                        //     max-width: 100% !important;
                        //     margin: 0 !important;
    
                        //     .column-1{
                        //         display: flex !important;
                        //         align-items: center !important;
                        //         height:  100% !important;
    
                        //         .wp-block-group{
                        //             height: auto;
                        //         }
                        //     }
    
                        //     .wp-block-column{
                        //         height: 100%;
                        //         .wp-block-create-block-round-div{
    
                        //             .wp-block-cover{
                        //                 height: 100%;
                        //                 .wp-block-cover__inner-container{
                        //                     height: 100%;
                        //                     .wp-block-group{
                        //                         height: 100%;
                        //                         .wp-block-create-block-round-div{
                        //                             height: 100%;
                        //                         }
                        //                     }
                        //                 }
                        //             }
                        //         }
                        //     }
                        // }
                    }
                }
            }
    
    
        }
    }
}