/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-site-blocks .wp-block-create-block-modal-block{
    .extra-element{
        .modal-button{
            color: red;
            cursor: pointer;
        }
        .modal-link{
            color: red;
            cursor: pointer;
        }
    }
    .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100vw !important;
        height: 100vh;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        // display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .modal-container{
            position: relative;
            top: -5%;
            width: 500px;
            height: 500px;
            background-color: #fff;
            z-index: 3000;

            .close-button-container{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: end;
                position: absolute;
                top: 0;
                left: 0;

                .close-button{
                    margin: 10px;
                    line-height: 1em;
                    background-image: url('./close-icon.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    z-index: 10000;
                }
            }
        }
    }
}