.main-container,
.is-root-container .wp-block {

    .wp-block-meraki-simple-card-block,
    [data-type="meraki/simple-card-block"] {

        .wp-card {
            width: 360px;
            height: auto;
            min-height: 547px;
            background-color: #454C53;

            .wp-block-group {
                padding: 34px;
                padding-top: 47px;
            }

            p {
                color: white;
            }
        }
    }

}