/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-create-block-emerging-text-block {
	height: 50px;                           
	margin: 0;
	.emerging-text-container{
		overflow: hidden;
		height: 100%;
		.emerging-text{
			position: relative;
			top: 100%;
			margin: 0;

			&.active{	
				animation-name: emergingText; 
				animation-timing-function: ease-in-out;
				animation-fill-mode: forwards;
				animation-duration: 0.3s;
				animation-delay: 0;
			}
		}
	}
}

/* Define la animación de fade-in */
@keyframes emergingText {
    from {
	top: 100%;
    }
    to {
	top: 0%;
    }
}
  