/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

 $fontFamily: 'Roboto';
 $fontSize: 16px;
 $colorPrimary: green;
 $contentWidth: 1200px;


.wp-block-create-block-menu-block {
  font-family: $fontFamily;
  
  .navigation{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    background-color: #ffedd7;
    
    .navigation-intern{
      width: $contentWidth;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo{
        svg{
          width: 50px;
          height: 50px;
          // aspect-ratio: 1 / 1;
        }
      }

      .menu-desktop{
        display: flex;
        height: 100%;
        li{
          list-style: none;
          position: relative;
          margin-right: 20px;
          display: flex;
          align-items: center;

          a{
            display: flex;
            align-items: center;
            text-decoration: none;
            svg{
              fill: $colorPrimary;
            }
            p{
              font-size: $fontSize;
              color: $colorPrimary;
              
              &:hover{
                text-decoration: underline;
              }
            }
            &:focus{
              p{
                text-decoration: underline;
              }
            }
            &:focus+ul{
              display: flex;
              flex-direction: column;
            }


            &.active{
              svg{
                fill: red;
              }
              p{
                color: red;
              }
            }
          }

          .submenu-wrapper{
            display: none;
            position: absolute;
            z-index: 1000;
            top: 60px;
            height: auto;
            width: 150px;
            background-color: #b5ffe6;

            &.standard-menu{
              ul{
                padding: 20px;
                margin: 0;
                li{
                  margin-bottom: 10px;
                  a{
                    p{
                      font-size: $fontSize;
                      color: $colorPrimary;
                      margin: 0;
                    }
                  }
                }
              }
            }
            
            &.mega-menu{
                position: fixed;
                top: 92px;
                left: 0;
                width: 100%;
                ul{
                  padding: 0;
                  width: $contentWidth;
                }
            }
          }
          &:hover,
            &:focus-within{
              .submenu-wrapper{
                display: flex !important;
                flex-direction: column;
                &.mega-menu{
                  align-items: center;
                }
              }
          }
        }
      }
  
      .burger-menu {
        position: relative;
        z-index: 2000;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 1;
        transition: 0.2s;
    
        .level-above,
        .level-middle,
        .level-below {
          width: 25px;
          height: 3px;
          background-color: #000;
          border-radius: 2px;
          transition: transform 0.5s ease, opacity 0.2s;
          transform-origin: left; // Por defecto
        }
    
        .level-middle {
          margin: 5.5px 0;
        }
    
        .level-above {
          transform-origin: top left;
        }
    
        .level-below {
          transform-origin: bottom left;
        }
    
        &.active {
          .level-middle {
            opacity: 0;
          }
    
          .level-below {
            transform: rotate(-45deg);
          }
    
          .level-above {
            transform: rotate(45deg);
          }
        }
      }

    }
    .menu-links{
      display: none;
      position: relative;
      z-index: 1000;
      overflow-y: scroll;
    }
    &.active{
      .menu-links{
        animation: fadeInAnimation 0.2s forwards;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(204, 127, 127);
        transition: 0.2s;
        display: flex;
        justify-content: center;
        .menu-intern{
          padding: 20px;
          padding-top: 80px;
          width: $contentWidth;

          // display: grid;
          // grid-template-columns: repeat(4, 1fr);
          // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

          .link-group{
            //Animation
            //--------------------------------------
            opacity: 0;
            animation: fadeInUp 0.5s forwards;

            &:nth-of-type(1){
              animation-delay: 0.1s;
            }
            &:nth-of-type(2){
              animation-delay: 0.15s;
              animation-delay: 0.2s;
            }
            &:nth-of-type(3){
              animation-delay: 0.2s;
              animation-delay: 0.3s;
            }
            //--------------------------------------


            a.menu-link{
              display: flex;
              align-items: center;  
              transition: 0.3s;
              p{
                font-size: 30px;
              }
              &:hover{
                transition: 0.3s;
                margin-left: 20px;
              }
            }
          }

          a.submenu-link{
            p{
              transition: 0.3s;
              font-size: 20px;
              &:hover{
              transition: 0.3s;
              margin-left: 20px;
            }
            }
          }

        }
      }
    }

  }

  &.fixed{
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
  }
}
