/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.marquee-editor{
    border: 1px solid black;
    background-color: #b0b0b0;
    padding: 20px;
    border-radius: 20px;

    p{
        margin: 0;
        text-align: center;
    }
}