/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Marquee styles */
.marquee {
	--gap: 1rem;
	position: relative;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
  }
  
  .marquee__content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	gap: var(--gap);
	min-width: 100%;
  }
  
  @keyframes scroll {
	from {
	  transform: translateX(0);
	}
	to {
	  transform: translateX(calc(-100% - var(--gap)));
	}
  }
  
  /* Pause animation when reduced-motion is set */
  @media (prefers-reduced-motion: reduce) {
	.marquee__content {
	  animation-play-state: paused !important;
	}
  }
  
  /* Enable animation */
  .enable-animation .marquee__content {
	animation: scroll 30s linear infinite;   // <------- AQUI ES DONDE SE DEFINE LA VELOCIDAD segun el tiempo
  }
  
  /* Reverse animation */
  .marquee--reverse .marquee__content {
	animation-direction: reverse;
  }
  
  /* Pause on hover */
  .marquee--hover-pause:hover .marquee__content {
	animation-play-state: paused;
  }
  
  /* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
  .marquee--fit-content {
	max-width: fit-content;
  }
  
  /* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
  .marquee--pos-absolute .marquee__content:last-child {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  /* Enable position absolute animation on the duplicate content (last-child) */
  .enable-animation .marquee--pos-absolute .marquee__content:last-child {
	animation-name: scroll-abs;
  }
  
  @keyframes scroll-abs {
	from {
	  transform: translateX(calc(100% + var(--gap)));
	}
	to {
	  transform: translateX(0);
	}
  }
  
  /* Other page demo styles */
  
  section {
	margin-block: 3rem;
  }
  
  section > * + * {
	margin-block-start: 0.5rem;
  }
  
  //----------------------------------------
  // YOU CAN ADD YOUR CODE BELOW
  //----------------------------------------
  

.wp-block-create-block-marquee-block{
	section{
		max-height: 250px;
		height: 250px;
		.marquee{
			height: 100%;
			.marquee__content {
				height: 100%;
				// gap: 0;
				// justify-content: center;
				figure{
					height: 100%;
					display: flex;
					align-items: end;
					img{
						// height: 100%;
						width: auto;
						width: 200px;
						// height: 200px;
						object-fit: contain;
					}
				}
			}
		} 
	}
}


.wp-block-create-block-marquee-block.unten{
	figure{
		align-items: start !important;
	}
}