/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-accordion-static-block{
	margin: 0 !important;

	.accordion {
		display: flex;
		align-items: center;
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.5s;
		height: 60px;

		.wp-block-columns{
			width: 100%;
			height: 100%;
			.wp-block-column{
				height: 100%;
				display: flex;
				align-items: center;
				.wp-block-image{
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		//-------------------------------------
		// IF YOU WANT TO MOVE THE BUTTON TO THE RIGHT SIDE UNCOMMENT THESE LINES
		// flex-direction: row-reverse;
		// justify-content: space-between;

		//-------------------------------------

		img {
			transition: 0.5s;
			width: 27px !important;
			height: 14px !important;
		}

		.accordion-arrow {
			margin: 0;
			transform: rotate(0deg);
			transition: 0.5s;
		}

		p.accordion-arrow {
			margin-left: 20px;
		}

	}

	.active,
	.accordion:hover {
		background-color: #ccc;
	}

	.accordion.accordion-active {
		img {
			transform: rotate(180deg);
			transition: 0.5s;
		}
	}

	.panel {
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
}