
.wp-block-create-block-menu-block {
    .navigation{
        .menu-links{
            display: none;
            position: relative;
            z-index: 1000;
            overflow-y: scroll;
          }
        &.active{
        .menu-links{
            animation: fadeInAnimation 0.2s forwards;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgb(204, 127, 127);
            transition: 0.2s;
            display: flex;
            justify-content: center;
            .menu-intern{
                padding: 20px;
                padding-top: 80px;
                width: $contentWidth;
                overflow-y: scroll;
            
                // display: grid;
                // grid-template-columns: repeat(4, 1fr);
                // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            
                .link-group{
                    //Animation
                    //--------------------------------------
                    opacity: 0;
                    animation: fadeInUp 0.5s forwards;
            
                    &:nth-of-type(1){
                        animation-delay: 0.1s;
                    }
                    &:nth-of-type(2){
                        animation-delay: 0.2s;
                    }
                    &:nth-of-type(3){
                        animation-delay: 0.3s;
                    }
                    &:nth-of-type(4){
                        animation-delay: 0.4s;
                    }
                    &:nth-of-type(5){
                        animation-delay: 0.5s;
                    }
                    &:nth-of-type(6){
                        animation-delay: 0.6s;
                    }
                    &:nth-of-type(7){
                        animation-delay: 0.7s;
                    }
                    &:nth-of-type(8){
                        animation-delay: 0.8s;
                    }
                    &:nth-of-type(9){
                        animation-delay: 0.9s;
                    }
                    &:nth-of-type(10){
                        animation-delay: 1s;
                    }
                    //--------------------------------------
            
            
                    a.menu-link{
                    display: flex;
                    align-items: center;  
                    transition: 0.3s;
                    p{
                        font-size: 30px;
                    }
                    &:hover{
                        transition: 0.3s;
                        margin-left: 20px;
                    }
                    }
                }

                .search-button{
                    margin-top: 40px;
                    margin-bottom: 10px;
                    button{
                        padding: 0;
                        cursor: pointer;
                        p{
                            font-size: 20px !important;
                            margin-right: 5px;
                        }
                    }
                }
            
                a.submenu-link{
                    p{
                    transition: 0.3s;
                    font-size: 20px;
                    &:hover{
                    transition: 0.3s;
                    margin-left: 20px;
                    }
                    }
                }
        
            }
        }
        }
    }
}
