/**
 * The following styles get applied inside the editor only.
 */

.wp-block-create-block-masonry-block-referenzen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(29, 29, 29);
    border-radius: 15px;
    p{
        color: rgb(212, 212, 93);
        font-size: 30px;
    }
}