/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

 .wp-block-create-block-masonry-referenzen-block{
    .desktop,
    .tablet,
    .mobile{
        width: 100%;
        display: flex;
        gap: 24px;
        .column{
            width: 100%;
            .person{
                width: 100%;
                margin-bottom: 30px;
                h3{
                    font-family: 'Inter' !important;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-weight: 400;
                    text-decoration: underline;
                    color: black;
                }
                p{}
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
 }