/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-create-block-hover-image-block {
    position: relative;
    height: 410px;
    width: 328px;
    overflow: hidden;
    border-radius: 8px;

	.image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        transition: 0.2s;
        opacity: 1;
        cursor: pointer;
        
        &:hover {
            opacity: 0;
            transition: 0.2s;
        }
	}

    .hover-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}