// /**
//  * The following styles get applied both on the front of your site
//  * and in the editor.
//  */

.wp-block-create-block-masonry-block-employees{
    display: flex;
    gap: 40px;

    &>div:first-child{
        display: none;
    }

    .column{
        .masonry-item{
            margin-bottom: 30px;

            img{
                width: 100%;
                object-fit: contain;
                height: auto;
            }
            a.title{ 
                font-family: "Inter" !important;
                font-size: 20px;
                margin-top: 10px;
                font-weight: 400;
                text-decoration: underline;
                color: black;
            }
        }
        .person{
            width: 100%;
            margin-bottom: 30px;
            h3{
                font-family: 'Inter' !important;
                margin-bottom: 10px;
            }
            p{}
            img{
                width: 100%;
            }
        }
    }
}