/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-text-fill-block.has-child-selected,
.wp-block-create-block-text-fill-block.is-selected {
    .text-foreground{
		position: relative !important;
    }

    .text-background{
        // display: block !important;
        display: none !important;
		position: relative !important;

    }
 }

 .wp-block-create-block-text-fill-block {
    .text-fill-container{
        .text-foreground{
        position: relative !important;
        width: 100%;
        }

        .text-background{
        display: none;
        position: relative !important;
        }
    }
 }

 .components-panel__row .components-base-control{
    width: 100%;
 }